<mat-toolbar>
    <img id="firm-logo" src="firm-logo.jpeg" alt="">
    <span>&nbsp; Central Portal - {{firmName}}</span>
    <span class="example-spacer"></span>
    <mat-card>
        <mat-card-content [matMenuTriggerFor]="userMenu" style="cursor: pointer;">
            {{userFn}}
            <button mat-icon-button class="example-icon">
                <i class="material-icons">account_circle</i>
            </button>
        </mat-card-content>
    </mat-card>

    <mat-menu #userMenu="matMenu" xPosition="before">
        <button mat-menu-item>
            <i class="material-icons">person</i>
            <span>Profile</span>
        </button>
        <button mat-menu-item>
            <i class="material-icons">admin_panel_settings</i>
            <span>Roles</span>
        </button>
        <button mat-menu-item>
            <i class="material-icons">logout</i>
            <span>Logout</span>
        </button>
    </mat-menu>
</mat-toolbar>
